* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::selection {
    color: #e0dcdc;
    background-color: #e0dcdc;
}
header {
    width: 100%;
    height: 169vh;
    background-color: #e0dcdc;
    display: flex;
}
.header-left-side {
    color: azure;
    padding: 0 0 0 90px;
}
.header-left-side h1 {
    color: #088F8F;    ;
    line-height: 1.2em;
    font-size: 80px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 20px;
    margin-bottom: 20px;
    font-weight: 1000 !important;
}
.header-left-side h2 {
    color: #bea060;
    font-family: sans-serif;
    font-size: 26px;
    line-height: 1.2em;
    font-weight: 1000;
    letter-spacing: 2px;
    padding: 10px;
}
.header-left-side p1 {
    color: #bea060;
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 900;
    letter-spacing: 2px;
    color: #110101;
}
.header-left-side p2 {
    color: #bea060;
    margin-top: 5%;
    margin-bottom: 10%;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 900;
    letter-spacing: 2px;
    color: #110101;
}
button {
    padding: 20px 10px;
    border: 2px solid #bea060;
    background: transparent;
    width: 47%;
    color: brown;
    margin-right: 15px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 1000;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover {
    background-color: #bea060;
    transition: 0.7s;
}
.btn {
    width: 97%;
    background-color: #bea060;
}
.header-left-side h3 {
    color:#c1bfbf;
    padding-top: 80px;
    font-family: sans-serif;
    font-weight: 300;
}
.header-right-side img {
    width: 670px;
    height: 884px;
    margin-top: 15%;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}
